/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Reset some basic elements */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFF9C4; /* Lighter yellow background for the body */
}

header {
    background-color: #009739; /* Green background for header */
    color: white;
    padding: 1rem;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger {
    display: none;
}

.nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-menu li {
    margin: 0 1rem;
}

.nav-menu a {
    color: white;
    text-decoration: none;
}

.hero {
    background: url('../images/hero.webp') no-repeat center center/cover;
    height: 50vh;
}

footer {
    background-color: #009739; /* Green background for footer */
    color: white;
    text-align: center;
    padding: 1rem;
}

/* Section styles */
.hero, .call-to-action, .current-events, .weather, .company-spotlight {
    background-color: #FFCC00; /* Yellow background for these sections */
    color: #000000; /* Black text color for small text */
}

header, .hero, .call-to-action {
    color: #FFFFFF; /* White text color for titles */
}

h1, h2 {
    color: #009739; /* Green color for titles inside blocks */
}

.hero h2, .call-to-action h2, .current-events h2, .weather h2, .company-spotlight h2 {
    color: #002776; /* Blue color for section headers */
}
