/* Reset básico */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, Helvetica, sans-serif;
    margin: 1rem;
}

header, main, footer {
    max-width: 760px;
    margin: 0 auto;
}

/* Banner */
.banner {
    border: 1px solid #bbb;
    padding: 1rem;
    background-color: rgb(230, 243, 254);
    font-weight: 700;
    text-align: center;
}

/* Encabezados */
h1 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin: 1rem 0;
}

/* Menú Hamburguesa */
#menu-btn {
    font-size: 1.5rem;
    border: 0;
    background: none;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu-btn::before {
    content: "☰";
}

#menu-btn.open::before {
    content: "❌";
}

/* Navegación */
.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #333;
    color: #fff;
}

.navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.navigation a:hover {
    background-color: #bbb;
    color: #333;
    font-weight: 700;
}

/* Cuando el menú está abierto */
.navigation.open a {
    display: block;
}

/* Indicador de página activa */
.active::before {
    content: "📍";
}

/* Diseño para pantallas grandes */
@media (min-width: 37.5em) {
    #menu-btn {
        display: none;
    }

    .navigation {
        flex-direction: row;
    }

    .navigation a {
        display: block;
        flex: 1 1 100%;
    }
}

/* Footer */
footer {
    margin-top: 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: .5rem 0;
    font-size: smaller;
    text-align: left;
}
